#board
{
    display: grid;
    grid-template-columns: repeat(3, 10em);
    grid-template-rows: repeat(3, 10em);
}

.square
{
    border: 1px solid black;
    text-align: center;
    font-size: 130px;
}